@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBF9F6;
  --foreground: #111111;
  --card: #006EFF;
  --card-foreground: #111111;
  --popover: #006EFF;
  --popover-foreground: #111111;
  --primary: #000000;
  --primary-foreground: #FFFFFF;
  --secondary: #006EFF;
  --secondary-foreground: #111111;
  --muted: #006EFF;
  --muted-foreground: #4b4b4b;
  --accent: #006EFF;
  --accent-foreground: #111111;
  --destructive: #EF4444;
  --destructive-foreground: #111111;
  --border: #111111;
  --input: #111111;
  --ring: #111111;
  --radius: 0.5rem;
}

/* Switzer font declarations *
@font-face {
  font-family: 'Switzer-Variable';
  src: url('https://hebbkx1anhila5yf.public.blob.vercel-storage.com/Switzer-Variable-9khcIJESd0WUjKvZasKv08ai84fzfV.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

/* Inter font declarations */
@font-face {
  font-family: 'Inter';
  src: url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Crimson Pro Variable font declarations */
@font-face {
  font-family: 'Crimson Pro';
  src: url('/fonts/CrimsonPro-Variable.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('/fonts/CrimsonPro-VariableItalic.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Tanker font declarations */
@font-face {
  font-family: 'Tanker';
  src: url('/fonts/Tanker-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    @apply border-border;
  }
  html, body {
    height: 100%;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    color: white;
    overflow-x: hidden;
  }
  body {
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: 'Switzer-Variable', sans-serif;
  }

  /* Keep Iosevka for countdown numbers */
  .font-mono {
    font-family: 'Crimson Pro';
  }

 /* Keep Inter for headings, buttons, and inputs */
  h1, h2, h3, h4, h5, h6,
  button,
  input {
    font-family: 'Inter', sans-serif;
  }
}

h1 {
  font-family: 'Crimson Pro', serif;
  line-height: 1.2;
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}
